

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><%=link_to "A&M Chess", home_path %></li>
      <!-- <li><%= link_to image_tag('chess_store_title.png'), home_path %></li> -->
      <li>
        <%= link_to "Items", items_path %>
        <ul class="menu vertical">
          <li><%= link_to "Item List", items_path %></li>
          <li><%= link_to "Reorder List", home_path %></li>
          <li><%= link_to "Add an Item", new_item_path %></li>
        </ul>
      </li>
      <li><%= link_to "Purchases", purchases_path %></li>
      <li><%= link_to "Prices", item_prices_path %></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
       <% if logged_in? %>
        <li><%= link_to 'Logout', logout_path %></li>
        <li><%= current_user.proper_name %>:<%= current_user.role %></li>
      <% else %>
        <li><%= link_to 'Login', login_path %></li>
      <% end %>
    </ul>
  </div>
 
</div>