

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Site Title</li>
      <li>
        <%= link_to "Items", items_path %>
        <ul class="menu vertical">
          <li><%= link_to "Item List", items_path %></li>
          <li><%= link_to "Reorder List", home_path %></li>
          <li><%= link_to "Add an Item", new_item_path %></li>
        </ul>
      </li>
      <li><%= link_to "Purchases", purchases_path %></li>
      <li><%= link_to "Prices", item_prices_path %></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>