<h3>User Information</h3>

<p>Name: <%= @user.proper_name %></p>
<p>Email: <%= @user.email %></p>
<p>Phone Number: <%= @user.phone %></p>
<p>Username: <%= @user.username %></p>


<!-- Add buttons to list all, edit project or destroy object -->
<% if logged_in? && current_user.role!="customer"%>
 <%= render partial: "partials/object_options", locals: {model_name: "user", object: @user}  %>
<%end%>
