#date, grand total, cancel button, list of orderitems
<div class="small-7 columns">
	<h3>List of Order Items</h3>
	<table class="table table-striped">
	<!-- this is a partial of a list of users for the user index page -->
	  <thead>
	    <tr>
	      
	      <th>Name</th>
	      <th>Price</th>
	      <th>Category</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @oi.each do |o| %>
	      <tr>
	        
	        <td><%= o.item.name %></td>
	        <td><%= number_to_currency(o.item.current_price)%></td>
	        <td><%= o.item.category %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>


	<%= render partial: "partials/object_options", locals: {model_name: "order", object: @order} %>
	<%if Order.not_shipped.include?(@order)%>
		<%= link_to order_path(@order), method: 'delete', data: {confirm: "Are you sure you want to permanently delete this order?"}, class: 'button radius alert' do %>
			Delete Order
		<%end%>
	<%end%>
</div>

