
  <div class="row">
    <div class="small-7 columns">
      <div id = "item_page">
        <%= render :partial => "item_details" %>
      </div>
    </div>
    <div class="small-5 columns">
       <% if logged_in? && (current_user.role =="manager"|| current_user.role =="admin") %>
          <div id="mypriceblock">
          <%= render :partial => "price_history" unless @price_history.empty?%>
          </div>
      <%end%>
      <%= render :partial => "similar_items" unless @similar_items.empty?%>
      <% unless @item.photo_url.nil? %>
      	<p><%= image_tag @item.photo_url %></p>
    	<% end %>
    </div>
  </div>

  <!-- Add buttons to list all, edit project or destroy object -->
  <%= render partial: "partials/object_options", locals: {model_name: "item", object: @item}  %>


<%= link_to(new_purchase_path, id: 'new_purchase_link', class: "button radius", remote: true) do %>
  New Purchase
<%end%>
