<table class="table table-striped">
<!-- this is a partial of a list of users for the user index page -->
  <thead>
    <tr>
      <th>Name</th>
      <th>Street 1</th>
      <th>City</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%=  school.name %></td>
        <td><%= school.street_1 %></td>
        <td><%= school.city %></td>
        <td><%= school.state %></td>
        <% if logged_in? && (current_user.role!= 'customer') %>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @schools, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<br />